div {
	display: inline-block;
}
table {
	display: inline-block;
}
td {
	text-align: center;
}
textarea {
	height: 18px;
	width: 40px;
	vertical-align: middle;
	resize: horizontal;
}

div#testSelectionCont {
	display: none;
}
div#testSelectionContinueButton {
	display: none;
	padding: 5px;
	background-color: yellow;
}
div#testExplanationCont {
	display: none;
}
div#testCont {
	display: none;
	max-width: 1000px;
}
div#timer {
	display: none;
}
div#thanks {
	display: none;
}

div.testSelectionAreaOption {
	text-align: center;
	padding: 0px 10px;
}
div.partExplanation {
	display: none;
}
div.testArea {
	display: none;
}
span.questionHiddenUntilStart {
	display: none;
}
div.questionCategoryStartButton {
	padding: 5px;
	background-color: yellow;
}
div.questionCategoryEnterAnswer {
	padding: 5px;
	background-color: #00ff00;
}
div.questionCategorySkip {
	padding: 5px;
	background-color: #5555ff;
}
div.questionCategoryInstructions {
	vertical-align: middle;
}
div.fracEqual {
	height: 55px;
	vertical-align: middle;
}
div.startWholeTestButton {
	padding: 5px;
	background-color: yellow;
}
div.miniTest {
	display: none;
}

td.numerator {
	border-bottom: 1px solid black;
}